body{
    font-family: sans-serif;
    margin: 0;
}

.page{
  height: 100vh;
  width: 99.5%;
}


.main{
  font-size: 100px;
  width: 80%;
  height: 88%;
}

.darkmode{
  display: flex;
}

.ByteBuy{
  font-size: 30%;
  margin-left: 10px;
  margin-top: 10px;
  width: 112px;

  border: solid;
  border-width: 10px;
  border-radius: 15px;
}

button.theme{
  float: right;
  margin-top: 22px;
  margin-left: 10px;
  height: 30px;
  width: 50px;
  
  border: none;
  border-width: 5px;
  border-radius: 20px;
}

.side{
  overflow: scroll;
  width: 25%;
  height: 91.5%;
  float: right;

  border: solid;
  border-width: 10px;
  border-radius: 25px;

  margin-top: 28px;
  margin-right: 5px;

  outline-width: 1px;
  outline-style: solid;
}

.inventoryItem{
  border-radius: 10px;
  width: 95%;
  margin: auto;
  height: 160px;
  display: flex;
  margin-bottom: 5%;
  margin-top: -2.5%;
}

.laptopImage{
  height: 50%;
  border-right: solid;
  padding: 5px;
  margin-top: 8%;
}

.num{
  margin-left: 5px;
  margin-top: 2%;
}

p.description{
  float: right;
  margin-left: 10px;
  margin-top: 1%;
}

p.inv{
  text-align: center;
  margin-top: -2%;
  font-size: 20px;

  padding: 5px;
}

::-webkit-scrollbar{
  display:none;
}

/*.sidebar{
  float: left;
  height: 100%;
  width: 55px;
  border-right: solid;
  border-width: 5px;
  border-radius: 0 20px 20px 0;

  font-size: 40px;
  text-align: center;
  font-weight: bold;
}*/

.text{
  width:72%;
  height:23px;
  display: flex;
}

.textbox{
  margin-left: 20px;
  margin-right: 10px;;
  font-size: 20px;
  border: solid;
  outline: none;
  width: 90%;
  height: 30px;

  border-width: 20px;
  border-radius: 30px;

  outline: solid;
  outline-width: 1px;
}

p.send{
  height: 100%;
  padding-bottom: 9px;
  font-weight: bolder;
  margin: 0;
  float: right;
  font-size: 30px;
  font-weight: bold;

  border: solid;
  border-width: 20px;
  border-radius: 30px;

  outline: solid;
  outline-width: 1px;
}

.logotext{
  font-size: 30px;
  text-align: center;
}