body{
    background-color: rgb(33 33 33);
    font-family: sans-serif;
    margin: 0;
}

.page{
  height: 100vh;
  width: 99.5%;
  background-color: rgb(33 33 33);
}


.main{
  font-size: 100px;
  background-color: rgb(33 33 33);
  width: 80%;
  height: 88%;
}

.ByteBuy{
  color: rgb(203, 203, 203);
  font-size: 30%;
  margin-left: 80px;
  margin-top: 0;
  padding-top: 10px;
}

.side{
  overflow: scroll;
  background-color: rgb(26, 26, 26);
  border: solid;
  border-width: 10px;
  border-color: rgb(48, 48, 48);
  width: 22%;
  height: 92%;
  float: right;
  border-radius: 25px;
  margin-top: 28px;
  outline: rgb(89, 89, 89);
  outline-width: 2px;
  outline-style: solid;
}

.inventoryItem{
  background-color: rgb(48, 48, 48);
  border-radius: 10px;
  width: 95%;
  margin: auto;
  height: 160px;
  display: flex;
  margin-bottom: 5%;
  margin-top: -2.5%;
}

.laptopImage{
  height: 50%;
  border-right: solid;
  border-color: rgb(148, 148, 148);
  padding: 5px;
  margin-top: 8%;
}

.num{
  color: rgb(196, 196, 196);
  margin-left: 5px;
  margin-top: 2%;
}

p.description{
  float: right;
  color: rgb(196, 196, 196);
  margin-left: 10px;
  margin-top: 1%;
}

p.inv{
  text-align: center;
  margin-top: -2%;
  font-size: 20px;

  background-color: rgb(48, 48, 48);
  padding: 5px;
}

span.inv{
  color: rgb(195, 195, 195);
}

::-webkit-scrollbar{
  display:none;
}

.sidebar{
  float: left;
  height: 100%;
  width: 55px;
  border-right: solid;
  border-width: 5px;;
  border-color: rgb(81, 81, 81);
  border-radius: 0 20px 20px 0;

  font-size: 40px;
  text-align: center;
  color:  rgb(122, 122, 122);;
  font-weight: bold;
}

.text{
  font-size: 50px;
  background-color: rgb(48, 48, 48);
  width: 70%;
  height: 10%;
  float: left;
  border-radius: 40px;
  margin-left: 17px;
  color: rgb(182, 182, 182);
  border: solid;
  border-width: 1px;
  border-color: rgb(89, 89, 89);
}

.textbox{
  font-size: 20px;
  background-color: rgb(48, 48, 48);
  border: none;
  outline: none;
  color: white;
  margin-left: 2%;
  margin-bottom: 2%;
  width: 90%
}

.send{
  float: right;
  margin-right: 20px;
  color: rgb(255, 255, 255);
}

.logo{
  width: 200px;
  display: block;
  margin: auto;
}

.logotext{
  color: white;
  font-size: 40px;
  text-align: center;
}