body{
    background-color: rgb(255, 255, 255);
}

.page{
  background-color: rgb(255, 255, 255);
}


.main{
  background-color: rgb(255, 255, 255);
}

.ByteBuy{
  color: rgb(73, 73, 73);
  border-color: rgb(213, 213, 213);
  background-color: rgb(213, 213, 213);
  outline-color: rgb(140, 140, 140);    
}

button.theme{
  background-color: rgb(213, 213, 213);
  color: rgb(73, 73, 73);
  border-color: rgb(140, 140, 140);

}

.theme:hover {
  background-color: rgb(166, 166, 166);
}

#side{
  background-color: rgb(237, 237, 237);
  border-color: rgb(213, 213, 213);
  outline-color: rgb(140, 140, 140);
}

.inventoryItem{
  background-color: rgb(213, 213, 213);
}

.laptopImage{
  border-color: rgb(137, 137, 137);
}

.num{
  color: rgb(0, 0, 0);
}

.description{
  color: rgb(0, 0, 0);
}

p.inv{
  background-color: rgb(213, 213, 213);
}

span.inv{
  color: rgb(0, 0, 0);
}

/*.sidebar{
  border-color: rgb(89, 89, 89);
  color:  rgb(122, 122, 122);
}*/

#textbox{
  background-color: rgb(213, 213, 213);
  color: rgb(73, 73, 73);
  border-color:  rgb(213, 213, 213);
  outline-color: rgb(124, 124, 124);
}

.send{
  color: rgb(62, 62, 62);
  background-color: rgb(213, 213, 213);
  border-color:  rgb(213, 213, 213);
  outline-color: rgb(124, 124, 124);
}

#light {
  display: block;
  width: 100px;
  margin: auto;
}

#dark{
  display: none;
}

#logotext{
  color: rgb(73, 73, 73);
}

.send_light {
  display: block;
}

.send_dark{
  display: none;
}

#message1, #message2{
  background-color: rgb(213, 213, 213);
  color: rgb(49, 49, 49); 
}